

<fa-app ng-controller="SummaryCtrl" class="full-screen">
<fa-modifier fa-translate="[0,55]">
  <!-- fa-scroll-view receives all events from $scope.myEventHandler, and decides how to handle them -->
  <fa-scroll-view fa-pipe-from="myEventHandler">
      <fa-view ng-repeat="view in views">
        <fa-modifier fa-size="[undefined, 160]">
        <!-- All events on fa-surfaces (click, mousewheel) are piped to $scope.myEventHandler -->
           <fa-surface fa-background-color="view.color"
                        fa-pipe-to="myEventHandler">
           </fa-surface>
          </fa-modifier>
      </fa-view>
  </fa-scroll-view>
</fa-modifier>
</fa-app>

<fa-app ng-controller="AppCtrl" style="width: undefined; height: 50px;">
    <!-- header -->
    <fa-surface fa-background-color="'red'">Header
        <form class="item item-text-wrap" ng-submit="logout()">
            <button class="button button-full button-positive">
                Sign Out
            </button>
        </form>
    </fa-surface>
</fa-app>
