<fa-app class="full-screen">

  
    <!-- content -->
    <fa-surface fa-background-color="'white'">
      <content
          has-header="true"
          scroll="true"
          >
        <div class="card">
          <div class="item item-divider">
            Sign In
          </div>
          <div class="item item-divider assertive" ng-if="loginError">
            Could not sign in!
          </div>
          <form class="item item-text-wrap" ng-submit="login()">
            <div class="list list-inset">
              <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="credentials.username">
              </label>
              <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="credentials.password">
              </label>
            </div>
            <button class="button button-full button-positive">
              Sign In
            </button>
          </form>
        </div>
        
      <content>
    </fa-surface>
  
</fa-app>